<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("username", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("username") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("user_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("user_id") %>
   </div>
</div>
